### Библиотеки

In [2]:
import pandas as pd
import numpy as np

### Создание

#### из списка

создаем Series значений из списка целых чисел

In [2]:
s = pd.Series(data=[10, 11, 12, 13, 14],
              index=[1, 2, 3, 5, 7])
s

1    10
2    11
3    12
5    13
7    14
dtype: int64

In [3]:
s = pd.Series(data=[10, 11, 12, 13, 14])
s

0    10
1    11
2    12
3    13
4    14
dtype: int64

создаем Series из строковых значений

In [4]:

s = pd.Series(['Blue', 'Yellow', 'Green'])
s

0      Blue
1    Yellow
2     Green
dtype: object

создаем Series из 5 элементов, каждый элемент - list python

In [5]:
l = [[1, 2]]
s = pd.Series(l*5)
s

0    [1, 2]
1    [1, 2]
2    [1, 2]
3    [1, 2]
4    [1, 2]
dtype: object

создаем DataFrame из двумерного списка

In [7]:
df = pd.DataFrame([[10, 11], [20, 21], [30, 31]])
df

    0   1
0  10  11
1  20  21
2  30  31

задаем имена столбцов

In [8]:
df = pd.DataFrame([[10, 11], [20, 21], [30, 31]],
                  columns=['A', 'B'])
df

    A   B
0  10  11
1  20  21
2  30  31

создаем DataFrame для списка объектов Series

In [9]:
series_1 = pd.Series([70, 90])
series_2 = pd.Series([71, 91])
df = pd.DataFrame([series_1, series_2])
df

    0   1
0  70  90
1  71  91

задаем имена столбцов после создания датафрейма

In [10]:
df.columns = ['col_1', 'col_2']
df

   col_1  col_2
0     70     90
1     71     91

#### из словаря

создаем объект Series из словаря, при этом посмотрим, как изменились индексы

In [11]:
s = pd.Series({'Homer': 'Dad',
               'Marge': 'Mom',
               'Bart': 'Son',
               'Lisa': 'Daughter',
               'Maggie': 'Daughter'})
s

Homer          Dad
Marge          Mom
Bart           Son
Lisa      Daughter
Maggie    Daughter
dtype: object

создание DataFrame с помощью питоновского словаря

In [12]:
list_1 = [70, 71]
list_2 = [90, 91]
temperatures = {'col_1': list_1,
                'col_2': list_2}
pd.DataFrame(temperatures)

   col_1  col_2
0     70     90
1     71     91

создание DataFrame с помощью словаря, состоящего из объектов Series

In [13]:
series_1 = pd.Series([70, 71])
series_2 = pd.Series([90, 91])

df = pd.DataFrame({'col_1': series_1,
                   'col_2': series_2})
df

   col_1  col_2
0     70     90
1     71     91

#### при помощи функций

создание Series, используя np.arange - последовательность чисел от **start** до **stop-1** с шагом **step**:
```python 
np.arange(start, stop, step) 
```

In [14]:
s = pd.Series(np.arange(15,25,2))
s

0    15
1    17
2    19
3    21
4    23
dtype: int32

создаем Series из 5 значений, равномерно разбивающих отрезок 0 до 9

In [16]:
s = pd.Series(np.linspace(0, 9, 50))
s

0     0.000000
1     0.183673
2     0.367347
3     0.551020
4     0.734694
5     0.918367
6     1.102041
7     1.285714
8     1.469388
9     1.653061
10    1.836735
11    2.020408
12    2.204082
13    2.387755
14    2.571429
15    2.755102
16    2.938776
17    3.122449
18    3.306122
19    3.489796
20    3.673469
21    3.857143
22    4.040816
23    4.224490
24    4.408163
25    4.591837
26    4.775510
27    4.959184
28    5.142857
29    5.326531
30    5.510204
31    5.693878
32    5.877551
33    6.061224
34    6.244898
35    6.428571
36    6.612245
37    6.795918
38    6.979592
39    7.163265
40    7.346939
41    7.530612
42    7.714286
43    7.897959
44    8.081633
45    8.265306
46    8.448980
47    8.632653
48    8.816327
49    9.000000
dtype: float64

Генерация случайных чисел.

Зафикисруем значение seed, что позволит нам в будущем воcпроизводить свои результаты

Создадим объект Series из 5 нормально распределенных случайных чисел

In [27]:
np.random.seed(123)
s = pd.Series(np.random.normal(size=5))
s

0   -1.085631
1    0.997345
2    0.282978
3   -1.506295
4   -0.578600
dtype: float64

Создадим объект DataFrame размерности 4х3 из случайных чисел

In [28]:
np.random.seed(123)
df = pd.DataFrame(np.random.normal(size=12).reshape(4, 3),
                  index=['ind_1', 'ind_2', 'ind_3', 'ind_4'],
                  columns=['col_1', 'col_2', 'col_3'])
df

          col_1     col_2     col_3
ind_1 -1.085631  0.997345  0.282978
ind_2 -1.506295 -0.578600  1.651437
ind_3 -2.426679 -0.428913  1.265936
ind_4 -0.866740 -0.678886 -0.094709

#### [из файла](http://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-tools-text-csv-hdf5)

| Column Name        | Description
| ------------- |:-------------:|
|Symbol|Сокращенное название организации|
|Name|Полное название организации|
|Sector|Сектор экономики|
|Price|Стоимость акции|
|Dividend Yield|Дивидендная доходность|
|Price/Earnings|Цена / прибыль|
|Earnings/Share|Прибыль на акцию|
|Book Value|Балансовая стоимость компании|
|52 week low|52-недельный минимум|
|52 week high|52-недельный максимум|
|Market Cap|Рыночная капитализация|
|EBITDA|**E**arnings **b**efore **i**nterest, **t**axes, **d**epreciation and **a**mortization|
|Price/Sales|Цена / объём продаж|
|Price/Book|Цена / балансовая стоимость|
|SEC Filings|Ссылка *sec.gov*|

In [3]:
pd.read_csv(filepath_or_buffer = "../data/sp500.csv",
            sep = ';')

    Symbol,Name,Sector,Price,Dividend Yield,Price/Earnings,Earnings/Share,Book Value,52 week low,52 week high,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0    MMM,3M Co.,Industrials,141.14,2.12,20.33,6.90,...
1    ABT,Abbott Laboratories,Health Care,39.60,1.82...
2    ABBV,AbbVie Inc.,Health Care,53.95,3.02,20.87,...
3    ACN,Accenture,Information Technology,79.79,2.3...
4    ACE,ACE Limited,Financials,102.91,2.21,10.00,1...
..                                                 ...
495  YHOO,Yahoo Inc.,Information Technology,35.02,,...
496  YUM,Yum! Brands Inc,Consumer Discretionary,74....
497  ZMH,Zimmer Holdings,Health Care,101.84,0.81,22...
498  ZION,Zions Bancorp,Financials,28.43,0.56,18.82...
499  ZTS,Zoetis Inc,Health Care,30.53,0.90,29.22,1....

[500 rows x 1 columns]

разделитель

In [8]:
sp500 = pd.read_csv(filepath_or_buffer = "../data/sp500.csv",
           sep = ',', index_col='Symbol')

количество строк

In [10]:
sp500.loc[['MMM', 'ABT']]

,Name,Sector,Price,Dividend Yield,Price/Earnings,Earnings/Share,Book Value,52 week low,52 week high,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
Symbol,,,,,,,,,,,,,,
MMM,3M Co.,Industrials,141.14,2.12,20.33,6.900,26.668,107.15,143.37,92.345,8.121,2.95,5.26,http://www.sec.gov/cgi-bin/browse-edgar?action...
ABT,Abbott Laboratories,Health Care,39.60,1.82,25.93,1.529,15.573,32.70,40.49,59.477,4.359,2.74,2.55,http://www.sec.gov/cgi-bin/browse-edgar?action...

In [ ]:
pd.read_csv(filepath_or_buffer = "../data/sp500.csv",
           sep = ',',
           nrows = 3)

столбцы

In [ ]:
pd.read_csv(filepath_or_buffer = "../data/sp500.csv",
           sep = ',',
           nrows = 3,
           usecols=['Symbol', 'Sector', 'Price', 'Book Value'])

индекс

In [ ]:
pd.read_csv(filepath_or_buffer = "../data/sp500.csv",
           sep = ',',
           nrows = 3,
           usecols=['Symbol', 'Sector', 'Price', 'Book Value'],
           index_col='Symbol')

итератор

In [ ]:
df_chunk = pd.read_csv(filepath_or_buffer = "../data/sp500.csv",
                       sep = ',',
                       chunksize=50,
                       usecols=['Symbol', 'Sector', 'Price', 'Book Value'],
                       index_col='Symbol')

In [ ]:
for df_tmp in df_chunk:
    print('DataFrame part:', df_tmp.shape)

In [ ]:
sp500 = pd.read_csv(filepath_or_buffer = "../data/sp500.csv",
                    sep = ',',
                    usecols=['Symbol', 'Sector', 'Price', 'Book Value'],
                    index_col='Symbol')
sp500

### Свойства

#### создаем Series для примеров

In [ ]:
Simpsons = pd.Series({'Homer': 120,
                      'Marge': 60,
                      'Bart': 35,
                      'Lisa': 30,
                      'Maggie': 7})

Simpsons

In [ ]:
np.random.seed(123)
numbers = pd.Series(data = np.random.normal(size=10),
                    index = np.arange(25,35))
numbers

#### тип данных

In [ ]:
Simpsons.dtype

In [ ]:
sp500.dtypes

#### количество элементов

Series:

In [ ]:
print('Первый способ:', len(Simpsons))
print('Второй способ:', Simpsons.size)
print('Третий способ:', Simpsons.shape)

DataFrame:

In [ ]:
print('Первый способ:', len(sp500))
print('Второй способ:', sp500.size)
print('Третий способ:', sp500.shape)

#### количество уникальных элементов

In [ ]:
Simpsons.nunique()

In [ ]:
sp500.nunique()

#### индекс и значения

Series:

In [ ]:
Simpsons.index

In [ ]:
Simpsons.values

DataFrame:

In [ ]:
sp500.index

In [ ]:
sp500.values

In [ ]:
sp500.columns

#### присвоение / изменение имени

#####  объекта Series

In [ ]:
Simpsons.name = 'Simpsons weight'
Simpsons

##### индекса

In [ ]:
Simpsons.index.name = 'First name'
Simpsons

##### столбца

In [ ]:
sp500_copy = sp500.rename(columns = {'Book Value': 'BookValue'})

проверяем, не изменились ли имена столбцов в исходном датафрейме

In [ ]:
sp500.columns

In [ ]:
sp500_copy.columns

этот программный код переименовывает столбец на месте

In [ ]:
sp500_copy.rename(columns = {'Book Value': 'BookValue'},
            inplace=True)

смотрим изменилось ли имя столбца

In [ ]:
sp500_copy.columns

### Вывод значений

#### первые / последние строки

In [ ]:
sp500.head()

In [ ]:
Simpsons.tail(3)

#### столбцы

извлекаем столбец Sector

In [ ]:
sp500['Sector'].head()

тип столбца датафрейма:

In [ ]:
type(sp500['Sector'])

извлекаем столбцы Price и Book Value

In [ ]:
sp500[['Price', 'Book Value']].head()

покажем, что результат является объектом DataFrame

In [ ]:
type(sp500[['Price', 'Book Value']])

атрибутивный доступ к столбцу по имени

In [ ]:
sp500.Price.head()

пример с названием "Book Value"

In [ ]:
sp500.Book Value

#### строки

##### по метке

**Series**

In [ ]:
numbers.loc[[25,33]]

ошибка - нет метки

In [ ]:
numbers.loc[0]

**DataFrame**

получаем строку с меткой индекса MMM,которая возвращается в виде объекта Series

In [ ]:
sp500.loc['MMM']

In [ ]:
type(sp500.loc['MMM'])

получаем строки MMM и MSFT результатом будет объект DataFrame

In [ ]:
sp500.loc[['MMM', 'MSFT']]

In [ ]:
type(sp500.loc[['MMM', 'MSFT']])

##### по позиции

**Series**

In [ ]:
numbers

по позиции

In [ ]:
numbers.iloc[[5,-5]]

ошибка:

In [ ]:
numbers.iloc[10]

**DataFrame**

получаем строки, имеющие позиции 0 и 2

In [ ]:
sp500.iloc[[0, 2]]

получаем позиции меток MMM и A в индексе

In [ ]:
i1 = sp500.index.get_loc('MMM')
i2 = sp500.index.get_loc('A')
(i1, i2)

и извлекаем строки

In [ ]:
sp500.iloc[[i1, i2]]

#### поиск скалярного значения

ищем скалярное значение по метке строки и метке (имени) столбца

In [ ]:
sp500.at['MMM', 'Price']

ищем скалярное значение по позиции строки и позиции столбца; извлекаем значение в строке 0, столбце 1

In [ ]:
sp500.iat[0, 1]

#### одновременный отбор строк и столбцов

отбираем строки с метками индекса ABT и ZTS для столбцов Sector и Price

In [ ]:
sp500.loc[['ABT', 'ZTS']][['Sector', 'Price']]

In [ ]:
sp500.loc[['ABT', 'ZTS'],['Sector', 'Price']]

определение номера позиций заданных меток

In [ ]:
print(sp500.index.get_loc('ABT'),sp500.index.get_loc('ZTS'))

отбор строк и столбцов по номеру позиций

In [ ]:
sp500.iloc[[1,499],[0,1]]

#### транспонирование

In [ ]:
sp500.head()

In [ ]:
sp500.T.head()

#### переиндексация

ошибка:

In [11]:
sp500.loc[['MMM', 'ABBV', 'NEW VALUE']]

KeyError: 'Passing list-likes to .loc or [] with any missing labels is no longer supported, see https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike'

делаем переиндексацию, задав метки MMM, ABBV и NEW VALUE

In [12]:
reindexed = sp500.reindex(index=['MMM', 'ABBV', 'NEW VALUE'])

обратите внимание, что все индексы, кромя перечисленных при вызове, удалены, а *NEW VALUE* содержит значения *NaN*

In [13]:
reindexed

,Name,Sector,Price,Dividend Yield,Price/Earnings,Earnings/Share,Book Value,52 week low,52 week high,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
Symbol,,,,,,,,,,,,,,
MMM,3M Co.,Industrials,141.14,2.12,20.33,6.90,26.668,107.15,143.37,92.345,8.121,2.95,5.26,http://www.sec.gov/cgi-bin/browse-edgar?action...
ABBV,AbbVie Inc.,Health Care,53.95,3.02,20.87,2.57,2.954,40.10,54.78,85.784,7.190,4.48,18.16,http://www.sec.gov/cgi-bin/browse-edgar?action...
NEW VALUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

выполняем переиндексацию столбцов

In [ ]:
sp500.reindex(columns=['Price', 'Book Value', 'NewCol']).head()

при этом можем заполнить отсутствующие значения константами вместо *NaN*

In [ ]:
sp500.reindex(columns=['Price',
                       'Book Value',
                       'NewCol'],
              fill_value=0).head()

#### случайная подвыборка

отбираем три случайные строки

In [ ]:
sp500.sample(n=3)

случайный отбор с возвращением

In [ ]:
sp500.sample(frac=5, replace=True, random_state=777)

#### [настройки вывода](http://pandas.pydata.org/pandas-docs/stable/user_guide/options.html#available-options)

In [ ]:
pd.options.display.max_rows

In [ ]:
sp500

In [ ]:
pd.options.display.max_rows = 10

In [ ]:
sp500

In [ ]:
pd.options.display.max_rows

### Срезы данных

#### Series

Задаём срез по правилу: [начальная позиция: конечная позиция: величина шага], при этом:
- Правая граница - не включается
- Шаг может быть отрицательным
- Позиция также может быть отрицательной - тогда отсчёт происходит "с другого конца"
- Нумерация происходит от нуля

In [ ]:
numbers

срез, содержащий элементы с позициями от 1 по 5

In [ ]:
numbers.iloc[1:6]

выбираем элементы в позициях 1, 3, 5 == выбираем элементы с 1 по 5 позицию с шагом 2

In [ ]:
numbers.iloc[1:6:2]

можем оставить только конечную позицию

In [ ]:
numbers.iloc[:6]

либо оставим только начальную позицию

In [ ]:
numbers.iloc[3:]

отбираем элементы Series в обратном порядке, начиная с 5

In [ ]:
numbers.iloc[5::-1]

отбор 4 последних строк

In [ ]:
numbers.iloc[-4:]

####  DataFrame

In [ ]:
sp500.iloc[:5]

в обратном порядке

In [ ]:
sp500.iloc[4::-1]

строки, начиная с метки ABT и заканчивая меткой ACN

In [ ]:
sp500.loc['ABT':'ACN']

### Копирование и ссылки

In [ ]:
numbers

элементы с 1 по 4

In [ ]:
numbers.iloc[[1,2,3,4]]

сохранили в переменную n

In [ ]:
n = numbers.iloc[[1,2,3,4]]

In [ ]:
n

присваиваем значение 0 всем элементам

In [ ]:
n.loc[:] = 0
n

что-нибудь произошло с numbers?

In [ ]:
numbers

еще раз сохраним первые 4 элемента

In [ ]:
n = numbers.iloc[[1,2,3,4]]
n

создаем переменную k = срез с 1 по 4 элемент

In [ ]:
k = numbers[1:5]
k.loc[:] = 0
k

In [ ]:
numbers

воcстановили numbers

In [ ]:
numbers[1:5] = n
numbers

###  Удаление

#### del

Series

In [ ]:
Simpsons

In [ ]:
Simpsons_copy = Simpsons.copy()
del Simpsons_copy['Maggie']
Simpsons_copy

DataFrame

In [ ]:
sp500.head()

In [ ]:
sp500_copy = sp500.copy()
del sp500_copy['Price']
sp500_copy.iloc[:2]

#### pop

In [ ]:
sp500_copy = sp500.copy()

In [ ]:
sp500_copy.head(3)

эта строка удалит столбец Sector и возвратит его как серию

In [ ]:
popped_column = sp500_copy.pop('Sector')

столбец Sector удален на месте

In [ ]:
sp500_copy.head(3)

и у нас есть столбец Sector, полученный в результате применения pop

In [ ]:
popped_column.head(3)

Для Series применение .pop идентично

#### drop

In [ ]:
sp500_copy = sp500.copy()

In [ ]:
sp500_copy.head(3)

- эта строка вернет новый датафрейм с удаленным столбцом 'Sector’
- копия датафрейма не изменится

In [ ]:
sp500_copy_after_drop = sp500_copy.drop(['Sector'], axis = 1)
sp500_copy_after_drop.head(3)

In [ ]:
sp500_copy.head(3)

получаем копию первых 5 строк датафрейма data

In [ ]:
sp500_part_copy = sp500.iloc[:5].copy()
sp500_part_copy

удаляем строки с метками ABT и ACN

In [ ]:
sp500_part_copy = sp500_part_copy.drop(['ABT', 'ACN'], axis=0)
sp500_part_copy.head(5)

Для Series применение .drop идентично

### Фильтрация по условию

#### Series

In [ ]:
numbers

какие строки имеют значения больше 0 и меньше 1?

In [ ]:
logical_results = (numbers > 0) & (numbers < 1)
logical_results

Скобки!!! Следующий программный код приведет к выдаче исключения
```python
numbers > 0 & numbers < 1 
```

тип полученного результата - Series, который можно использовать для отбора интерсующих нас значений

In [ ]:
type(logical_results)

отбираем строки со значением True

In [ ]:
numbers[logical_results]

использование метода .where

In [ ]:
numbers.where((numbers > 0) & (numbers < 1))

In [ ]:
numbers.where((numbers > 0) & (numbers < 1), other = -1)

все ли элементы >= 0?

In [ ]:
(numbers >= 0).all()

есть ли элемент < 2?

In [ ]:
(numbers < 2).any()

сколько значений < 1?

In [ ]:
numbers < 1

In [ ]:
(numbers < 1).sum()

#### DataFrame

какие строки имеют значения Price < 100?

In [ ]:
sp500.Price < 100

теперь получим строки, в которых Price < 100

In [ ]:
sp500[sp500.Price < 100]

извлекаем лишь те строки, в которых значение Price < 10 и > 6

In [ ]:
r = sp500[(sp500['Price'] < 10) & 
          (sp500.Price > 6)] ['Price']
r

извлекаем строки, в которых переменная Sector принимает значение Health Care, а переменная Price больше или равна 100.00

In [ ]:
r = sp500[(sp500.Sector == 'Health Care') & 
          (sp500.Price >= 100.00)] [['Price', 'Sector']]
r

использование метода .isin

In [ ]:
s_tmp = sp500.Sector.isin(['Information Technology', 'Financials'])
s_tmp

In [ ]:
sp500[s_tmp].head()

использование метода .query

In [ ]:
r = sp500[(sp500.Sector == 'Health Care') & 
          (sp500.Price >= 100.00)] [['Price', 'Sector']]
r

In [ ]:
q = sp500.query("Sector=='Health Care' & Price >= 100")[['Price', 'Sector']]
q

### Добавление

#### оператор [ ]

создаем копию, чтобы исходные данные остались в неизменном виде

In [ ]:
sp500_copy = sp500.copy()

добавляем столбец

In [ ]:
sp500_copy['RoundedPrice'] = sp500_copy.Price.round()
sp500_copy.head(3)

#### метод .insert()

создаем копию, чтобы исходные данные остались в неизменном виде

In [ ]:
sp500_copy = sp500.copy()

вставляем столбец RoundedPrice в качестве третьего столбца датафрейма

In [ ]:
sp500_copy.insert(1, 'RoundedPrice', sp500_copy.Price.round())
sp500_copy.head(3)

#### метод .assign()

создаем копию, чтобы исходные данные остались в неизменном виде

In [ ]:
sp500_copy = sp500.copy()

одновременное добавление двух столбцов:

In [ ]:
sp500_copy.assign(Rounded_Price=sp500_copy.Price.round(),
                  R_BookValue_Price=lambda x: (x['Book Value'] / x['Rounded_Price']))

### Выравнивание данных

#### Series

первая серия для примеров

In [ ]:
s_1 = pd.Series(data=[77,33,11],index=['a','b','f'])
s_1

вторая серия для примеров

In [ ]:
s_2 = pd.Series(data=[11,5,6],index=['c','b','a'])
s_2

для непересекающейся части индексов будут получены значения NaN

In [ ]:
s_1+s_2

метки не обязательно должны быть уникальными

In [ ]:
s_1 = pd.Series(data=[77, 33, 15, 3], index=['a', 'a', 'a', 'd'])
s_1

In [ ]:
s_2 = pd.Series(data=[11, 5, 6], index=['c', 'a', 'a'])
s_2

3 метки 'а' и 2 метки 'а', результат 6 меток а

In [ ]:
s_2+s_1

#### DataFrame

In [ ]:
sp500_part_1 = sp500.iloc[0:5, 0:2].copy()
sp500_part_2 = sp500.iloc[2:7, 1:3].copy()

In [ ]:
sp500_part_1

In [ ]:
sp500_part_2

In [ ]:
sp500_part_1 + sp500_part_2

происходит выравнивание при создании датафрейма

In [ ]:
series_1 = pd.Series([70, 90])
series_2 = pd.Series([71, 91])
series_3 = pd.Series([85, 87], index=[1, 2])
df = pd.DataFrame({'col_1': series_1,
                   'col_2': series_2,
                   'col_3': series_3})
df

### Сортировка

#### по индексу

In [ ]:
sp500.head()

In [ ]:
sp500.sort_index().head()

In [ ]:
sp500.sort_index(axis=1).head()

#### по значению

In [ ]:
sp500.sort_values(by='Price').head()

In [ ]:
sp500.sort_values(by='Price', ascending=False).head()

#### наименьшее / наибольшее значение

In [ ]:
sp500.nsmallest(5, 'Price')

In [ ]:
sp500.nlargest(5, 'Price')